.poll-chart {
    list-style: none;
    margin: 0;
    padding: 1em;
}

.poll-chart progress, progress[role] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-size: auto;
    height: 30px;
    width: 100%;
}

.poll-chart .item {
    margin-bottom: 1em;
    position: relative;
}

.poll-chart .item h3 {
    color: #fff;
    left: 1em;
    line-height: 1;
    position: absolute;
}

.poll-chart .item-0::-webkit-progress-value {
    background: #ff9e2c;
}

.poll-chart .item-0::-moz-progress-bar {
    background: #ff9e2c;
}

.poll-chart .item-1::-webkit-progress-value {
    background: #4ecdc4;
}

.poll-chart .item-1::-moz-progress-bar {
    background: #4ecdc4;
}

.poll-chart .item-2::-webkit-progress-value {
    background: #ff6b6b;
}

.poll-chart .item-2::-moz-progress-bar {
    background: #ff6b6b;
}