.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* pour Opera 9 */
    width:147px;
    display:block;
    padding-bottom:5px;
}

.square-menu button.half-top-button {
    height: 25px;
    padding-top: 0;
}

.square-menu-actions input[type="text"] {
    height: 51px;
    margin-bottom: 15px;
    padding-left: 15px;
}
.pollCategory{
    margin-top: 20px;
    border-bottom: 1px solid #C5C5C5;
}
