<!DOCTYPE html>
<html>
    <head>
        <title>{{#i18n}}poll.title{{/i18n}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
        <script src="/poll/public/js/model.js" type="text/javascript"></script>
        <script src="/poll/public/js/controller.js" type="text/javascript"></script>
        <script type="text/ng-template" id="empty"></script>
    </head>
    <body ng-controller="PollController">
        <portal>
            <div class="row patchwork">
                <container template="main" class="flexible content cell"></container>
                <container template="polls" class="flexible navigation" ng-class="{ 'empty-neighbour': template.isEmpty('main'), 'filled-neighbour': !template.isEmpty('main') }"></container>
            </div>
        </portal>
    </div>
    </body>
</html>