<div class="row">
    <article class="twelve cell">
        <div class="two cell">
            <img skin-src="/img/illustrations/forum-default.png" ng-if="(content.poll.icon === undefined)" />
            <img ng-src="[[content.poll.icon]]?thumbnail=120x120" ng-if="content.poll.icon !== undefined" />
        </div>
        <div class="nine cell left-one">
            <div class="twelve cell vertical-spacing-twice">
                <h2>[[content.poll.question]]</h2>
            </div>
            <div ng-switch on="content.hasAlreadyVoted || content.hasExpired || !content.poll.myRights.contrib">
                <div ng-switch-when="true">
                    <div class="twelve cell" ng-repeat="answer in content.poll.answers">
                        <div class="cell">[[answer.value]] :</div>
                        <div class="cell">[[answer.votes.length / content.totalVotes * 100 || '0']] %</div>
                    </div>
                    <div class="twelve cell vertical-spacing-twice">
                        <h3>Nombre total de votants : [[content.totalVotes]]</h3>
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="twelve cell" ng-repeat="answer in content.poll.answers">
                        <label for="poll_[[content.poll._id]]_answer_[[$index]]">
                            <input id="poll_[[content.poll._id]]_answer_[[$index]]" type="radio" name="[[content.poll._id]]" ng-model="content.selected" value="[[$index]]" /> [[answer.value]]
                        </label>
                    </div>
                    <div class="vertical-spacing-twice twelve cell">
                        <button ng-click="vote()">Voter</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>