<h1>Sondage</h1>
<div class="row" ng-repeat="p in polls">
    <form name="form" class="row">
        <div class="cell">
            <img skin-src="/img/illustrations/forum-default.png" ng-if="(p.icon === undefined)" class="cell" />
            <img ng-src="[[p.icon]]?thumbnail=120x120" ng-if="p.icon !== undefined" class="cell" />
        </div>
        <article class="six cell">
            <h1>[[p.question]]</h1>

            <div ng-switch="hasVote(p)">
                <div ng-switch-when="false">
                    <div class="row">
                        <div class="twelve cell" ng-repeat="answer in p.answers">
                            <label> <input type="radio" name="[[p._id]]" ng-model="p.selected" value="[[$index]]" /> [[answer.value]]
                            </label>
                        </div>
                        <button ng-click="vote(p)">Voter</button>
                    </div>
                </div>
                <div ng-switch-default>
                    <div class="row">
                        <div class="twelve cell" ng-repeat="answer in p.answers">
                            [[answer.value]] : [[answer.votes.lenght]]
                        </div>
                        <button ng-click="vote(p)">Voter</button>
                    </div>
                </div>
            </div>

        </article>
    </form>
    <hr />
</div>